.to-do-container {
  border-radius: 10px;
  border: 1px solid gray;
  -webkit-box-shadow: 0px 0px 13px 7px rgba(138, 179, 212, 1);
  -moz-box-shadow: 0px 0px 13px 7px rgba(138, 179, 212, 1);
  box-shadow: 0px 0px 13px 7px rgba(138, 179, 212, 1);
  margin-bottom: 20px;
  padding: 30px;
}

.inputToDo {
  display: flex;
  gap: 5px;
  padding: 20px 20px 10px 20px;
  .labelText {
    color: #ffffff;
  }
}

.todo-text {
  width: 95%;
}
.todo-ele {
  background-color: brown;
  color: white;
  font-weight: bold;
  display: grid;
  grid-template-columns: 80% auto;
  border-radius: 10px;
  margin: 5px 0px;
  button {
    border-radius: 50%;
    height: 25px;
    width: 25px;
    text-align: center;
  }
}

#to-do-element {
  border: 1px solid gray;
  margin: 2px 0px;
  display: grid;
  grid-template-columns: 10% auto 5% 5% 5% 5%;

  .date-to-do {
    padding: 10px;
    background: #0361ca;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .edit-to-do {
    padding: 10px;
    background: #0361ca;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
  }
  .priority-to-go {
    background-color: #d4cfd6;
    font-weight: bold;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .to-do-text {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: black;
  }
  .to-do-text-success {
    background-color: #12e170;
    color: white;
  }
  .to-do-text-warning {
    background-color: red;
    color: white;
  }
  // .to-do-
  .to-do-priority {
  }
  .delete-to-do {
    background-color: red;
    // border-top-left-radius: 0px;
    // border-bottom-left-radius: 0px;
    // border-top-right-radius: 8px;
    // border-bottom-right-radius: 8px;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.closeIcon {
  background-color: red;
  color: white;
  border: 0px;
}
.priority-form-controls {
  border: 2px solid #0c136c;
  border-radius: 5px;
  color: black;
  margin-left: 10px;
}

.quick-actions {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  height: 50px;
  border: 1px solid gray;
  background-color: gray;
  color: #0361ca;
  font-weight: bold;
  div {
    height: 100%;
  }
}

.quick-actions-section {
  margin: 10px 0px 20px 0px;
}

.form-container {
  .form-input {
    display: flex;
  }
  .form-elements {
    display: grid;
    grid-template-columns: 30% 30% 30% auto;
    padding-top: 30px;
  }
}

@media screen and (max-width: 977px) {
  .form-container {
    .form-input {
      display: flex;
    }
    .form-elements {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: 40px 40px 40px;
      padding-top: 30px;
      text-align: left;
    }
  }
}
